<suite name="SuiteParallelism" parallel="tests" thread-count="2">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <parameter name="version" value="95" />
<!--        <parameter name="version" value="88.0" />-->
        <parameter name="platform" value="Windows 10" />
        <classes>
<!--            <class name="SimpleFormDemoTest" />-->
            <class name="DragAndDropSlidersTest" />
        </classes>
    </test>

<!--    <test name="FirefoxTest">-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <parameter name="version" value="100" />-->
<!--&lt;!&ndash;        <parameter name="version" value="82.0" />&ndash;&gt;-->
<!--&lt;!&ndash;        <parameter name="platform" value="Windows 7" />&ndash;&gt;-->
<!--        <parameter name="platform" value="Windows 10" />-->
<!--        <classes>-->
<!--&lt;!&ndash;            <class name="SimpleFormDemoTest" />&ndash;&gt;-->
<!--            <class name="DragAndDropSlidersTest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="EdgeTest">-->
<!--        <parameter name="browser" value="edge" />-->
<!--&lt;!&ndash;        <parameter name="version" value="87.0" />&ndash;&gt;-->
<!--        <parameter name="version" value="95" />-->
<!--&lt;!&ndash;        <parameter name="platform" value="macOS Sierra" />&ndash;&gt;-->
<!--        <parameter name="platform" value="macOS Ventura" />-->
<!--        <classes>-->
<!--&lt;!&ndash;            <class name="SimpleFormDemoTest" />&ndash;&gt;-->
<!--            <class name="DragAndDropSlidersTest" />-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="IETest">-->
<!--        <parameter name="browser" value="explorer" />-->
<!--        <parameter name="version" value="11.0" />-->
<!--        <parameter name="platform" value="Windows 10" />-->
<!--        <classes>-->
<!--            <class name="SimpleFormDemoTest" />-->
<!--        </classes>-->
<!--    </test>-->
</suite>